@charset "UTF-8";

:root {
    --main-bg-color: #282c37;
    --link-bg-color: #282c37;
    --main-fg-color: #dddddd;
    --main-link-color: #999;
    --main-visited-color: #888;
    --border-color: #505050;
    --border-width: 2px;
    --font-size-header: 18px;
    --font-color-header: #ccc;
    --font-size: 22px;
    --font-size-mobile: 40px;
    --text-entry-foreground: #ccc;
    --text-entry-background: #111;
    --time-color: #aaa;
    --button-text: #FFFFFF;
    --button-background: #999;
    --button-selected: #666;
    --form-border-radius: 30px;
    --focus-color: white;
}

@font-face {
  font-family: 'Bedstead';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('./fonts/bedstead.otf') format('opentype');
}

body, html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    background-image: url("/login-background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    min-width: 600px;
    margin: 0 auto;
    font-size: var(--font-size);
}

a, u {
    color: var(--main-fg-color);
}

a:visited{
    color: var(--main-visited-color);
    background: var(--link-bg-color);
    font-weight: bold;
}

a:link {
    color: var(--main-link-color);
    background: var(--link-bg-color);
    font-weight: bold;
}

a:focus {
    border: 2px solid var(--focus-color);
}

form {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--form-border-radius);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

.login-text {
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.license {
    float: right;
    margin: 0% 0%;
    width: 20%;
}

@media screen and (min-width: 400px) {
    body, html {
        background-color: var(--main-bg-color);
        color: var(--main-fg-color);
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 60%;
        min-width: 600px;
        margin: 0 auto;
        font-size: var(--font-size);
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
    }
    .login-text {
        font-size: var(--font-size);
        font-family: Arial, Helvetica, sans-serif;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: var(--font-size);
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        background-color: var(--button-background);
        color: var(--button-text);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: var(--font-size);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 1000px) {
    body, html {
        background-color: var(--main-bg-color);
        color: var(--main-fg-color);
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 95%;
        min-width: 600px;
        margin: 0 auto;
        font-size: var(--font-size-mobile);
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
    }
    .login-text {
        font-size: var(--font-size-mobile);
        font-family: Arial, Helvetica, sans-serif;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: var(--font-size-mobile);
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        background-color: var(--button-background);
        color: var(--button-text);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: var(--font-size-mobile);
        font-family: Arial, Helvetica, sans-serif;
    }
}
